/*.max-w-7xl{*/
/*    background: #FF9800;*/
/*}*/
.dashboard-links{
    display: flex;
    flex-direction: row;
    text-align: center;
    /*width: 25%;*/
    /*margin: -2px auto;*/
    padding: 5px;
    /*background: #FF9800;*/
}.dashboard-links li{
     background-color: #56595b;
     border-color: #56595b;
     color: white;
     padding: 2px 20px;
     /*font-weight: bold;*/
     margin: 5px 5px;
     border-radius: 5px;
}
